/* Layout */

* {
  box-sizing: border-box; /* pour maîtriser width et flex-basis */
}

html {
  display: flex; flex-direction: column; /* correction bug IE de min-height non appliqué à body */
  background: #999;
}

body {
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: column; /* affichage vertical */
  min-height: 100vh; /* toute la hauteur du viewport */
  padding: 1em;
}

.wrapper {
  flex: 1 1 auto; /* occupe la hauteur restante */
  display: flex; /* crée un contexte flex pour ses enfants */
}

nav,
aside {
  width: 15%;
}

article {
  flex: 1; /* occupe la largeur restante */
  order: 2;
}

nav {
  order: 1; /* nav s'affiche en premier */
}

aside {
   order: 3;
}


/* Decoration */

html, body {
  margin: 0;
  padding: 0;
  height:100%;
  background: #999;
  font-family: arial, sans-serif;
}
header,
nav,
aside,
article,
footer {
  margin: .2em;
  padding: 0.8em;
  border-radius: 12px;
  border: 1px solid black;
  
}

header {
  background: #BCF5A9;  
}

nav {
  background: #fae89f;
}

aside {
  background: #fae89f;
}

article {
  background: #fae89f;
}

footer {
  background: #fab69f;
}

#shell {
	width: 90%;
	height: 70%;
    margin-left: 5%;
	border: 1px solid black;
	border-radius: 7pt;
	background-color: #BCF5A9;
}

#model {    
    padding: 10px 20px;
    background: #BCF5A9;
    color: black;
    font-size: 15px;
    font-style: italic;    
    border-radius: 25pt;    
    text-align: center;
    border: 1px solid black;    
}

#cpu {
    border: 1px solid black;
    padding: 10px 20px; 
    background: #BCF5A9;
    color: black;
    font-size: 15px;
    font-style: italic;    
    border-radius: 25pt;    
    text-align: center;
}

#loadavg {    
    padding: 10px 20px;
    background: #BCF5A9;
    color: black;
    font-size: 15px;
    font-style: italic;    
    border-radius: 25pt;
    text-align: center;
    border: 1px solid black;
}

#mem {    
    padding: 10px 20px;
    background: #BCF5A9;
    color: black;
    font-size: 15px;
    font-style: italic;    
    border-radius: 25pt;
    text-align: center;
    border: 1px solid black;
}

#bdd  {    
    padding: 10px 20px;
    background: #BCF5A9;
    color: black;
    font-size: 15px;
    font-style: italic;    
    border-radius: 25pt;
    text-align: center;
    border: 1px solid black;
}

#date {
    margin:  auto;
    text-align: center;
    font-style: italic;
    font-size :1.5em;
    font-weight: bold; 
}

#heure {
    margin:  auto;
    text-align: center;
    font-size : 2em;
    font-weight: bold;   
}

#ephem {
	margin:  auto;
    text-align: center;
    font-size     : 1.2em;
    font-style: italic;      
}


#nas {    
    padding: 10px 20px;
    background: #81DAF5;
    color: black;   
    font-size: 18px;
    font-style: italic;    
    border-radius: 25pt;
    border: 1px solid black;
}

#phpmyadmin {    
    padding: 10px 20px;
    background: #F7BE81;
    color: black;   
    font-size: 18px;
    font-style: italic;    
    border-radius: 25pt;
    border: 1px solid black;
}

#logout {    
    padding: 10px 20px;
    background: #FA5858;
    color: black;   
    font-size: 18px;
    font-style: italic;    
    border-radius: 25pt;
    border: 1px solid black;
}

#accueil {    
    padding: 10px 20px;
    background: #B4CFED;
    color: black;   
    font-size: 18px;
    font-style: italic;    
    border-radius: 25pt;
    border: 1px solid black;
}


h2 {
	text-align: center;
	font-style: italic;
	
}

	header, footer {
		display: -webkit-box;
		display: -moz-box;         
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;             /* déclaration flexbox suivant les navigateurs*/
		
	}

.element2 {    
    margin: auto;
    text-align: center;     
}

.element {    
    margin-top: 5%;
    text-align: center; 
    
}

label {
  width: 10%; 
  font-size: 1em;
  margin-top: 1%;  
}

input {
  width: 100px;
  background-color: #BCF5A9;
  border-radius: 7pt;
  border: 1px solid black;
  text-align: center;
  font-size: 1em;
  margin-top: 2%;
   
}

input[type=submit] {
  width: 100%;
  padding: 3%;
}

input[type=radio] {
  width: 10%;
  padding: 1%;
}


#lon, #lat {
  width: 50%;
}

#envoyeur, #receveur {
   width: 100%; 
}

#mdpenvoyeur {
   width: 50%;
}

#ipdupi {
	width: 50%;
}

#loginadmin, #mdpadmin {
	width:50%;
}

legend {
	font-size: 1.2em;
	margin-left: 1%;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 1%;
	margin-top: 1%;
}

/* Responsive (fenêtres de moins de 640px) */

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column; /* affichage vertical */
  }
  nav,
  aside {
    width: auto; /* pour écraser la valeur 10em */
  }
  nav,
  aside,
  article {
    flex-basis: auto; /* pour écraser la valeur 0, due au flex: 1 */
  }
  
  aside {
    order: 1; /* nav reprend sa place */
  }
  article {
    order: 2; /* nav reprend sa place */
  }
  nav {
    order: 3; /* nav reprend sa place */
  }
  
  header, footer {
		display: -webkit-box;
		display: -moz-box;         
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;             /* déclaration flexbox suivant les navigateurs*/
		flex-direction: column;
	}
}


